// GRAY
$gray-100: #F8F8F9;
$gray-200: #E6E6E9;
$gray-300: #CDCDD1;
$gray-400: #AFB0B6;
$gray-500: #8D8F98;
$gray-600: #6B6D79;
$gray-700: #4D505E;
$gray-800: #343746;
$gray-900: #222536;

// BLUE
$blue-100: #DEDEFF;
$blue-200: #BCBEFF;
$blue-300: #ACAEFF;
$blue-400: #797DFF;
$blue-500: #585CFF;
$blue-600: #4F53E5;
$blue-700: #464ACC;
$blue-800: #3D40B2;
$blue-900: #353799;

// RED
$red-100: #FFD7DA;
$red-200: #FFAFB4;
$red-300: #FF9BA2;
$red-400: #FF5E69;
$red-500: #FF3644;
$red-600: #E5303D;
$red-700: #CC2B36;
$red-800: #B2262F;
$red-900: #992029;
