@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.font-sans {
    font-family: Barlow, sans-serif;
}
.font-serif {
    font-family: Georgia, Cambria, Times, serif;
}
.font-mono {
    font-family: Menlo, Monaco, Consolas, monospace;
}
