// GENERAL
.text-white {
    color: white;
}
.text-black {
    color: black;
}
.text-transparent {
    color: transparent;
}

// GRAY
.text-gray-100 {
    color: $gray-100;
}
.text-gray-200 {
    color: $gray-200;
}
.text-gray-300 {
    color: $gray-300;
}
.text-gray-400 {
    color: $gray-400;
}
.text-gray-500 {
    color: $gray-500;
}
.text-gray-600 {
    color: $gray-600;
}
.text-gray-700 {
    color: $gray-700;
}
.text-gray-800 {
    color: $gray-800;
}
.text-gray-900 {
    color: $gray-900;
}

// BLUE
.text-blue-100 {
    color: $blue-100;
}
.text-blue-200 {
    color: $blue-200;
}
.text-blue-300 {
    color: $blue-300;
}
.text-blue-400 {
    color: $blue-400;
}
.text-blue-500 {
    color: $blue-500;
}
.text-blue-600 {
    color: $blue-600;
}
.text-blue-700 {
    color: $blue-700;
}
.text-blue-800 {
    color: $blue-800;
}
.text-blue-900 {
    color: $blue-900;
}

// RED
.text-red-100 {
    color: $red-100;
}
.text-red-200 {
    color: $red-200;
}
.text-red-300 {
    color: $red-300;
}
.text-red-400 {
    color: $red-400;
}
.text-red-500 {
    color: $red-500;
}
.text-red-600 {
    color: $red-600;
}
.text-red-700 {
    color: $red-700;
}
.text-red-800 {
    color: $red-800;
}
.text-red-900 {
    color: $red-900;
}
