.container {
    width: 100%;
}

@media (min-width: $sm) {
    .container {
        max-width: $sm;
    }
}

@media (min-width: $md) {
    .container {
        max-width: $md;
    }
}

@media (min-width: $lg) {
    .container {
        max-width: $lg;
    }
}

@media (min-width: $xl) {
    .container {
        max-width: $xl;
    }
}
