// GENERAL
.border-white {
    border-color: white;
}
.border-black {
    border-color: black;
}
.border-transparent {
    border-color: transparent;
}

// GRAY
.border-gray-100 {
    border-color: $gray-100;
}
.border-gray-200 {
    border-color: $gray-200;
}
.border-gray-300 {
    border-color: $gray-300;
}
.border-gray-400 {
    border-color: $gray-400;
}
.border-gray-500 {
    border-color: $gray-500;
}
.border-gray-600 {
    border-color: $gray-600;
}
.border-gray-700 {
    border-color: $gray-700;
}
.border-gray-800 {
    border-color: $gray-800;
}
.border-gray-900 {
    border-color: $gray-900;
}

// BLUE
.border-blue-100 {
    border-color: $blue-100;
}
.border-blue-200 {
    border-color: $blue-200;
}
.border-blue-300 {
    border-color: $blue-300;
}
.border-blue-400 {
    border-color: $blue-400;
}
.border-blue-500 {
    border-color: $blue-500;
}
.border-blue-600 {
    border-color: $blue-600;
}
.border-blue-700 {
    border-color: $blue-700;
}
.border-blue-800 {
    border-color: $blue-800;
}
.border-blue-900 {
    border-color: $blue-900;
}

// RED
.border-red-100 {
    border-color: $red-100;
}
.border-red-200 {
    border-color: $red-200;
}
.border-red-300 {
    border-color: $red-300;
}
.border-red-400 {
    border-color: $red-400;
}
.border-red-500 {
    border-color: $red-500;
}
.border-red-600 {
    border-color: $red-600;
}
.border-red-700 {
    border-color: $red-700;
}
.border-red-800 {
    border-color: $red-800;
}
.border-red-900 {
    border-color: $red-900;
}
