.border-opacity-0 {
    --border-opacity: 0;
}
.border-opacity-25 {
    --border-opacity: 0.25;
}
.border-opacity-50 {
    --border-opacity: 0.5;
}
.border-opacity-75 {
    --border-opacity: 0.75;
}
.border-opacity-100 {
    --border-opacity: 1;
}
